<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
            
    <context:component-scan base-package="cn.aaron.ablog" />
    <!-- 启动 @AspectJ 支持 --> 
     <aop:aspectj-autoproxy/> 
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"	 destroy-method="close">
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="initialPoolSize" value="5"/>
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="15" />
		<property name="maxIdleTime" value="60" />
		<property name="acquireIncrement" value="5" />
	</bean>
	 
    <!-- <bean id="logBeanAspect" class="cn.aaron.ablog.action.LogAspect"/>
    <aop:config>
        <aop:pointcut expression="execution(* cn.aaron.ablog.dao.*Dao(..))" id="logPointcut"/>
        <aop:advisor advice-ref="logBeanAspect" pointcut-ref="logPointcut"/>
        <aop:aspect id="logAspect" ref="logBeanAspect">
            <aop:around method="log" pointcut-ref="logPointcut" arg-names=""/>
        </aop:aspect>
    </aop:config> -->

	<!-- 配置mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>
	<!-- 使用sqlsessiontemplate -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	  <constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	<!-- spring管理事务 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  <property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- <bean id="gsonBean" class="org.springframework.http.converter.json.GsonFactoryBean">
	   <property name="dateFormatPattern" value="yyyy-MM-dd hh:mm:ss"/>
	</bean>
	
	<bean id="gsonConvert" class="org.springframework.http.converter.json.GsonHttpMessageConverter">
	   <property name="gson" ref="gsonBean"/>
	</bean> -->
	<bean id="systemProperty" class="cn.aaron.ablog.base.SystemProperty">
	   <constructor-arg index="0">
	       <map>
	           <entry key="blogHtml" value="${blogHtml}"/>
	           <entry key="blogFile" value="${blogFile}"/>
	       </map>
	   </constructor-arg>
	</bean>
</beans>
