<#include "/global/base.html">
<@head>
  <title>首页</title>
  <style type="text/css">
    ul,ol{
    padding: 0;
    margin: 0;
    }
    .item{
        margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: rgba(26, 187, 156, 1) solid 1px;
    }
    .item .head{
        margin-bottom: 20px;
    }
    .item .title{
        font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    }
    .item .datetime{
    display: inline-block;
    float: right;
    margin-right: 15px;
    }
    .item .content{
        display:block;
         overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    }
  </style>
</@head>
<@body>
    <#setting datetime_format="yyyy/MM/dd hh:mm:ss">
    <#include "/global/nav.html">
    <div class="body">
        <ul>
	        <#list blogList as blog>
	            <ol class="item">
	               <div>
	                   <div class="head" >
	                       <div><a class="title" href="p/${blog.id}">${blog.title}</a><span class="datetime">${blog.createdTime?datetime}</span></div>
	                       <div>阅读量: ${blog.viewCount}</div>
	                   </div>
	                   <div class="content">
	                       <#assign len=(blog.content)?length>
	                       <#if len&gt;150>
		                       ${(blog.content)[0..150]}
                               <#else>
                               ${blog.content}	                           
	                       </#if>
	                   </div>
	               </div>
	            </ol>
	        </#list>
        </ul>
        <nav aria-label="Page navigation" id="navPage" data-totalpage="${pagination.totalPage}" data-currentpage="${pagination.currentPage}" data-pagesize="${pagination.pageSize}">
		  <ul class="pagination">
		    <li v-for="page in pages" v-bind:class="page.className">
		      <a v-bind:href="page.url">{{page.name}}</a>
		    </li>
		  </ul>
		</nav>
     </div>
     <script type="text/javascript">
     init();
     function init(){
    	 printPage();
     }
     
     function printPage(){
    	 var totalPage = $("#navPage").data("totalpage");
    	 var pageSize = $("#navPage").data("pagesize");
    	 var pages = new Array();
    	 var currentPage = $("#navPage").data("currentpage");
    	 for(var i=1;i<=totalPage;i++){
    		 var data = {"url":"?_rowStart="+(i-1)*pageSize,"name":i};
    		 if(currentPage==i){
    			 data["className"] = "active";
    		 }else{
    			 data["className"] = "";
    		 }
    		 pages.push(data);
    	 }
    	 var vPage = new Vue({
             el:"#navPage",
             data:{
                 pages:pages
             }
         });
     }
     </script>
</@body>