<#include "/global/base.html">
<@head>
  <title>首页</title>
</@head>
<@body>
    <div class="head">陌生人读书</div>
    <div class="body">
        <ul>
	        <#list blogList as blog>
	            <ol class="item">
	               <div>
	                   <div class="head">
	                       <div class="title">${blog.title}</div><div class="datetime">${(blog.updatedTime)?string["yyyy/MM/dd hh:mm:ss"]}</div>
	                   </div>
	                   <div class="content">
	                       <#assign len=(blog.content)?length>
	                       <#if len&gt;50>
		                       ${(blog.content)[0..50]}
                               <#else>
                               ${blog.content}	                           
	                       </#if>
	                   </div>
	               </div>
	            </ol>
	        </#list>
        
        </ul>
    </div>
    <#assign date=("20160103 12:00:00"?datetime["yyyyMMdd hh:mm:ss"])>
    ${date?string["yyyyMMdd hh:mm:ss"]}
</@body>