<#include "/global/base.html">
<@head>
  <title>查看文章</title>
  <link rel="stylesheet" type="text/css" href="static/css/blog/printComment.css"/>
  <style type="text/css">
   
  </style>
</@head>
<@body>
    <#setting datetime_format="yyyy/MM/dd hh:mm:ss">
    <#include "/global/nav.html">
    <div class="body">
        <div class="blog">
		    <#if blog??>
		        <div class="title">
		            ${blog.title}
		        </div>
		        <div class="outline">
		            <span class="statistics"><span class="statistics-view">已读: ${blog.viewCount}</span><span class="statistics-comment"><a href="#commentContainer">${blog.commentCount} 条评论</a></span></span>
		            <span class="date"><label>发表时间: </label><span>${(blog.createdTime)?string["yyyy/MM/dd hh:mm:ss"]}</span></span>
		        </div>
		        <div class="html_content">
		            ${blogHtml}
		        </div>
		        <#else>
		        blog not exist.
		    </#if>
        </div>
        <div id="commentContainer" class="comment-container">
            <div class="comment-write">
                <form action="" id="commentForm">
                    <input type="hidden" name="blogId" value="${blog.id}">
	                <div><textarea name="content" row="10" id="content"></textarea></div>
                    <div>
                        <label for="nickName">昵称:</label><input name="nickName" type="text" id="nickName">
                        <label for="email">邮箱:</label><input name="email" type="text" id="email">
                        <button type="button" id="submitBtn" data-loading-text="提交中...">提交</button>
                    </div>
                </form>
            </div>
            <div class="comment-count">评论: ${blog.commentCount}</div>
            <div class="comment-list" id="commentList" data-blogid="${blog.id}">
            <#if commentList??>
                <ul>
                    <ol class="comment" v-for="comment in commentList">
			            <div class="comment-content"><span class="comment-nick">{{comment.nickName}}: </span>{{comment.content}}</div>
			            <div class="comment-date">{{comment.createdTime}}</div>
			        </ol>
                <#list commentList as comment>
                    <ol class="comment">
                        <div class="comment-content"><span class="comment-nick">${comment.nickName}: </span>${comment.content}</div>
                        <div class="comment-date">${comment.createdTime?datetime}</div>
                    </ol>
                    <#else>
                    <div class="comment-no">暂无评论!</div>
                </#list>
                    <ol class="comment" v-for="comment in moreList">
                        <div class="comment-content"><span class="comment-nick">{{comment.nickName}}: </span>{{comment.content}}</div>
                        <div class="comment-date">{{comment.createdTime}}</div>
                    </ol>
                </ul>
                <#else>
                <div class="comment-no">暂无评论!</div>
            </#if>
            </div>
        </div>
    </div>
    <script type="text/javascript">
   	  var commentList = new Vue({
   		 el:"#commentList>ul",
   		 data:{
   			 commentList:[],
   			 moreList:[]
   		 }
   	  });
      init();
      function init(){
    	  initCommentWrite();
    	  $("#submitBtn").on("click",function(){
    		 var that = $(this);
    		 that.button("loading");
    		 var commentForm = $("#commentForm");
    		 localStorage.setItem("nickName",commentForm[0].nickName.value);
    		 localStorage.setItem("email",commentForm[0].email.value);
    		 $.post("blog/comment/save",commentForm.serialize(),function(resp){
   				 that.button("reset");
    			 if(resp.errno=="0"){
    				 var data = resp.data;
    				 commentList.commentList.push(data);
    				 $("#content").val("");
    				 $(".comment-no").hide();
    			 }else{
    				 
    			 }
    		 });
    	  });
    	  var wHeight = $(window).height();
    	  var dHeight = $(document).height();
    	  $(window).scroll(function(){
    		  var scrollTop = $(document).scrollTop();
    		  if((scrollTop+wHeight+100)>dHeight){
    			  loadMoreComment();
    		   }
    	  });
    	  
      }
      var moreComment = true;
      var loadingComment = false;
      function loadMoreComment(){
    	  if(loadingComment||!moreComment){
    		  return;
    	  }
    	  var len = $(".comment").length+1;
    	  var blogId = $("#commentList").data("blogid");
    	  loadingComment = true;
    	  $.get("blog/comment/list",{
    		  blogId:blogId,
    		  _rowStart:len,
    		  _pageSize:10
    	  },function(resp){
    		  loadingComment = false;
    		  if(resp.errno=="0"){
	    		  var data = resp.data;
	    		  if(data.length>0){
	    			  moreComment = true;
	    			  data.forEach(function(ele,idx){
			              commentList.moreList.push(ele);
	    			  });
	    		  }else{
	    			  moreComment = false;
	    		  }
    		  }
    	  });
      }
      
      function initCommentWrite(){
    	  var nickName = localStorage.getItem("nickName");
    	  if(nickName){
    		  $("#nickName").val(nickName);
    	  }
    	  var email = localStorage.getItem("email");
          if(email){
              $("#email").val(email);
          }
      }
    </script>
</@body>